{% extends 'base.html.twig' %}

{% block title %}
    Quai Antique
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <h1 class="text-center mt-4">Bienvenue sur Quai Antique</h1> 

<!-- home section starts -->
    <!-- Swiper -->
<section class="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset('build/images/home-img-1.jpg') }}" alt="Fondue Savoyarde">
                    <div class="image_overlay">
                        <div class="image_title">
                            Fondue Savoyarde
                        </div>
                        <p class="image_description text-center">
                            La fondue savoyarde est un plat régional de la gastronomie <br>
                            savoyarde à base de fromage fondu et de pain.<br>
                            Elle est préparée à base de 3 fromages, à partir de produits locaux <br>
                            tels que le comté de montagne, le beaufort, le gruyère de Savoie, <br>
                            l'emmental de Savoie ou encore l'abondance.
                        </p>
                    </div>
                </div>
            </div>

            
            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset('build/images/home-img-2.jpg') }}"  alt="Tartiflette">
                    <div class="image_overlay">
                        <div class="image_title">
                            La Tartiflette
                        </div>
                        <p class="image_description text-center">
                            La tartiflette est un plat d'origine savoyarde qui se déguste généralement en hiver. <br> 
                            Ses ingrédients principaux sont les pommes de terre et le reblochon, <br>
                            mais on peut aussi y ajouter des lardons et de la crème.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset('build/images/home-img-3.jpg') }}"  alt="Filet de perche">
                    <div class="image_overlay">
                        <div class="image_title">
                            Filet de perche
                        </div>
                        <p class="image_description text-center">
                            Poisson d’eau douce particulièrement prisé dans les régions alpines, <br>
                            la perche se cuisine et s’accommode au gré de ses envies. <br>
                            Quel plaisir de croquer dans un filet croustillant <br>
                            à l'extérieur et moelleux à l'intérieur !
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset('build/images/home-img-4.jpg') }}"  alt="Salade de Savoie">
                    <div class="image_overlay">
                        <div class="image_title">
                            Salade Montagnarde
                        </div>
                        <p class="image_description text-center">
                            La salade montagnarde est une salade composée à base de pommes de terre <br>
                            tout comme la salade paysanne et la salade forestière. <br>
                            Elle est composée de Tomme de Montagne (produit laitier), <br>
                            de champignons de Paris, de mâche et de tomates cerises.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset('build/images/home-img-5.jpg') }}"  alt="Desserts">
                    <div class="image_overlay">
                        <div class="image_title">
                            Nos Desserts
                        </div>
                        <p class="image_description text-center">
                            Succombez à nos saveurs. <br>
                            Finissez sur une note sucrée avec nos desserts.<br>
                            Nous préparons nos recettes avec les meilleurs <br>
                            ingrédients afin de vous offrir une saveur unique.<br>
                            Comblez vos envies de nos douceurs gustatives !
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
            <!-- Swiper end-->

        <!-- Block Javascript -->
            <!-- Initialize Swiper -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".home-slider", {
                effect: "flip",
                loop:true,
                pagination: {
                    clickable:true,
                    el: ".swiper-pagination",
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
            </script>
        <div>
    </div>
</section>
<!-- home section ends -->
{% endblock %}