{% extends 'base.html.twig' %}

{% block title %}

    Liste des plats!

{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class='text-center'>LA CARTE</h1>

        <ul>
            <li>Nos Entrées</li>
            <li>Nos Plats</li>
            <li>Nos Menus</li>
            <li>Nos Boissons</li>
            <li>Nos Menus</li>
        </ul>
            <h2 class='p-3'> Les fondues </h2>
            {% for fondue in fondues %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ fondue.title }}</h5>
                    <small class="text-muted">{{ fondue.price | number_format(2, ',', ' ') }} €</small>
                    </div>
                    <p class="mb-3">{{ fondue.description }}</p>
                </div>
            {% endfor %}

            <h2 class='p-3'> Tartiflette / Croziflette / Raclettes </h2>

            {% for plat in plats %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ plat.title }}</h5>
                    <small class="text-muted">{{ plat.price | number_format(2, ',', ' ') }} €</small>
                    </div>
                    <p class="mb-3">{{ plat.description }}</p>
                </div>
            {% endfor %}

            <h2 class='p-3'> Nos Salades </h2>

            {% for salade in salades %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ salade.title }}</h5>
                    <small class="text-muted">{{ salade.price | number_format(2, ',', ' ') }} €</small>
                    </div>
                    <p class="mb-3">{{ salade.description }}</p>
                </div>
            {% endfor %}

            <h2 class='p-3'> Nos desserts </h2>

            {% for dessert in desserts %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ dessert.title }}</h5>
                    <small class="text-muted">{{ dessert.price | number_format(2, ',', ' ') }} €</small>
                    </div>
                    <p class="mb-3">{{ dessert.description }}</p>
                </div>
            {% endfor %}

            <h2 class='p-3'> Nos boissons </h2>

            {% for boisson in boissons %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ boisson.title }}</h5>
                    <small class="text-muted">{{ boisson.price | number_format(2, ',', ' ') }} €</small>
                    </div>
                    <p class="mb-3">{{ boisson.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}